body {
  font-family: sans-serif;
  margin: 0;
}
.section {
  height: 100vh;
  background-color: #29284e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span {
  background-color: #000;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  border-radius: 1px;
}
.menu-btn span:before {
  position: absolute;
  background-color: #000;
  content: '';
  transform: translateY(5px);
  height: 2px;
  width: 20px;
  border-radius: 1px;
}
.menu-btn span:after {
  position: absolute;
  background-color: #000;
  content: '';
  transform: translateY(-5px);
  height: 2px;
  width: 20px;
  border-radius: 1px;
}
.menu-btn.is-active span:before {
  transform: rotate(35deg);
  transform-origin: left bottom;
  width: 10px;
}
.menu-btn.is-active span:after {
  transform: rotate(-35deg);
  transform-origin: left top;
  width: 10px;
}
.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-nav-link {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 25px;
  transition: 3s;
}
.menu-nav-link:hover {
  border-radius: 5px;
  text-decoration: underline;
}
.menu-nav {
  transition: 0.4s;
  transform: scaleX(0) translateX(100%);
  transform-origin: right center;
  opacity: 0;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  visibility: hidden;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}
